.adWrapper {
    background-color: rgba(13, 13, 13, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    &.hide {
        display: none
    }

    .adPopup {
        font-family: $headingFontTwo;
        text-align: center;
        width: 40%;
        height: 70vh;
        margin: 15vh auto;
        padding: 20px;
        background-color: $brightColor;
        position: relative;

        @include tablet {
            width: 70%;
            height: 60vh;
            margin: 30% auto;
        }

        @include mobile {
            width: 80%;
            height: 70vh;
            margin: 30% auto;
        }

        .adPopupClose {
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
            color: $purpleColor;
        }

        .adPopupContent {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;

            h2 {
                font-size: 1.5em;
                height: 1.5em;

                @include tablet {
                    font-size: 1.3em;
                    margin-bottom: 1em;
                }

                @include mobile {
                    font-size: 1em;
                    height: 3em;
                    margin-bottom: 3em;
                }
            }

            img {
                height: 40vh;
            }

            .btn {
                margin-top: 2em;
                background-color: $greenColor;
                border: none;
                outline: none;
            }
        }
    }
}