#bannerTwo {
    display: block;
    position: absolute;
    top: 82vh;
    right: 1%;
    height: 600px;
    width: 120px;
    min-width: 120px;
    cursor: pointer;
    background-color: rgba(242, 242, 242, 0.7);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/banners/pc/banner3_pc.png");
    background-size: cover;
    background-position: center;
    z-index: 8;
    transition: background-image 2s ease-in-out;

    &.sticky {
        position: fixed;
        top: 86px;
    }

    &.sticky2 {
        position: absolute;
        top: 1075px;
    }

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }
}